.background-blobs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
}

.blob-1 {
  width: 600px;
  height: 600px;
  background: rgba(99, 102, 241, 0.15);
  top: -10%;
  left: -5%;
  animation: float1 20s ease-in-out infinite;
}

.blob-2 {
  width: 500px;
  height: 500px;
  background: rgba(139, 92, 246, 0.15);
  top: 50%;
  right: -10%;
  animation: float2 25s ease-in-out infinite;
}

.blob-3 {
  width: 450px;
  height: 450px;
  background: rgba(6, 182, 212, 0.1);
  bottom: -10%;
  left: 30%;
  animation: float3 22s ease-in-out infinite;
}

@keyframes float1 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(80px, 50px) scale(1.05);
  }
  66% {
    transform: translate(-40px, 80px) scale(0.95);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(-60px, -40px) scale(1.08);
  }
  66% {
    transform: translate(50px, -70px) scale(0.92);
  }
}

@keyframes float3 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(70px, -50px) scale(1.04);
  }
  66% {
    transform: translate(-80px, 30px) scale(0.96);
  }
}
